.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 100;
    background-color: #1E90FF;
    border: solid 5px #000000;
    border-radius: 20px;
    width: 40%;
}

.card-corpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.num {
    font-size: 300%;
}

.img {
    background-color: #4169E1;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}

.local {
    font-size: 150%;
}
